@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
* {
    font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-radius: 50%;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.51);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.51);
}

*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /* background: rgb(232, 232, 232); */
    background-color: black;
    background-image: radial-gradient( rgba(0, 150, 0, 0.75), black 120%);
    height: 100vh;
}

.navbar {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(51, 51, 51);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.nav-item {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
}

.nav-title-wrapper span {
    display: block;
    /* font-family: "Roboto Condensed", sans-serif; */
    font-family: "VT323", monospace;
}

.nav-item.title {
    font-size: 1.6em;
}

.nav-item.name {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7);
    text-align: end;
}

a.nav-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

a.nav-item:hover {
    color: rgba(255, 255, 255, 1);
}

.body-wrapper {
    width: 70%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 55% 45%;
}

.table-wrapper {
    /* width: 55%; */
    position: relative;
}

.table-wrapper::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.ui-table {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.ui-table td {
    background-color: rgb(51, 51, 51);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.ui-table td.index-reference {
    font-size: 0.6em;
    border: none;
}

.ui-table td.obstruction {
    background-color: rgb(20, 20, 20);
    text-align: center;
}

div.drone-placeholder {
    height: 100%;
    max-width: 100%;
    background-size: cover;
}

img.drone-img {
    width: 100%;
}

.projectile {
    position: absolute;
    height: 15px;
    width: 15px;
    background: rgba(255, 255, 255, 0.7);
}

.explosion {
    position: absolute;
    height: 30px;
    width: 30px;
    background: rgba(255, 136, 0, 1);
}

.command-wrapper {
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

.command-wrapper * {
    font-family: "VT323", monospace;
}

.history-wrapper {
    /* height: 100%; */
    flex-basis: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    vertical-align: bottom;
}

.history-list {
    list-style: none;
    padding: 0 10px;
    overflow-y: auto;
}

.history-item.ok {
    color: green;
}

.history-item.warn {
    color: orange;
}

.history-item.danger {
    color: red;
}

.history-item.neutral {
    color: rgba(255, 255, 255, 0.7);
}

.history-item.feedback-neutral {
    color: rgba(255, 255, 255, 0.5);
}

.history-item.feedback-danger {
    color: rgba(255, 0, 0, 0.5);
}

.command-input-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
}

.help-tool-tip {
    display: block;
    margin: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.command-input-wrapper .text-input {
    box-sizing: border-box;
    padding: 15px;
    border: none;
    width: 100%;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.command-input-wrapper .text-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}